---
title: "Coming Soon!"
permalink: /coming-soon/
---

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

      <!-- Required CSS files -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/ChromiumOneStd.css">
  <link rel="icon" type="image/svg+xml" href="/assets/img/Untitled design.svg">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/assets/css/barfiller.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">

</head>

<body>

{% include "header.njk" %}

<main>
<h1>Works in Progress</h1>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brief Description</th>
      <th>Estimated Time to Write</th>
      <th>Started?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Why look at dead bodies?</td>
      <td>...</td>
      <td>...</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Bone Readers: A Biography of a Profession</td>
      <td>...</td>
      <td>...</td>
      <td>No</td>
    </tr>
    <tr>
      <td>The Neo-Luddite Manifesto</td>
      <td>...</td>
      <td>...</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
</main>
</body>
</html>