---
title: "Coming Soon!"
---

<h1>Works in Progress</h1>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brief Description</th>
      <th>Estimated Time to Write</th>
      <th>Started?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Why look at dead bodies?</td>
      <td>...</td>
      <td>...</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Bone Readers: A Biography of a Profession</td>
      <td>...</td>
      <td>...</td>
      <td>No</td>
    </tr>
    <tr>
      <td>The Neo-Luddite Manifesto</td>
      <td>...</td>
      <td>...</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>