<header class="site-header">
<div class="title-block">
  <h1 class="site-title">Ashley Ray</h1>
  <h2 class="site-subtitle">The Last Materialist</h2>
</div>
  <nav class="nav-bar">
    <ul>
      <li>
        <a href="https://sites.psu.edu/uglyboyblog/whos-ashley" title="Bio">
        <img src="/assets/img/retroinfoicon.svg" alt="Bio icon"/>
        </a>
        </li>
      <li class="dropdown">
      <a href="javascript:void(0)" title="Reviews">
        <img src="/assets/img/retroDVDicon.svg" alt="Reviews icon"/>
      </a>
      <ul class="dropdown-menu">
        <li><a href="https://boxd.it/2pZs5" target="_blank" rel="noopener">Movies</a></li>
        <li><a href="https://www.goodreads.com/user/show/73663462" target="_blank" rel="noopener">Books</a></li>
      </ul>
      </li>
      <li>
        <a href="/coming-soon/" title="Coming Soon!">
        <img src="/assets/img/retronotepadicon.svg" alt="Works icon"/>
        </a>
      </li>
    </ul>
  </nav>
</header>