{% extends 'base.njk' %}
{# overwrites #}
{% block pageHeader %}{% endblock pageHeader %}
{% block content %}

<div 
  class="h-[50vh] bg-cover bg-center" 
  style="background-image: url('/assets/img/Teal Grey Blue Trendy Retro Digitalism Creative Presentation.png');" 
  title="Boy in Bay">
</div>


{% endblock content %}
