{% extends 'base.njk' %}
{# overwrites #}
{% block pageHeader %}{% endblock pageHeader %}
{% block content %}

<!--background Section-->
<section 
  class="h-[50vh] bg-cover bg-center flex items-center justify-center relative" 
  style="background-image: url('/assets/img/Teal Grey Blue Trendy Retro Digitalism Creative Presentation.png');" 
  title="Boy in Bay">

  <!--Overlay-->
  <div
    class="flex items-center justify-center p-12"
    style="
      width: 1770px;
      height: 500px;
      background-color: #e3b0aeA6;
      border: solid #c80c05 8px">
  </div>

<!--Content container-->
<div class="Content-container">

 <!-- Text Box 1: Creative Writing -->
    <div class="Writing-box">
      <h2 class="Subsection-font">How I'm Feeling Now</h2>

      <div class="Scrollable">
      <iframe>
        src="/assets/files/AshleyOpEd.pdf"
        width="100%"
        height="600px"
        title="Environmental Piece">
      </iframe>
      </div>
    </div>

</section>

{% endblock content %}
