@charset "UTF-8";
/*******************************************
 *******************************************
/*****************************
 *   01. header
  ***************************** */
header.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #383499;
  border-bottom: 1px solid #ccc;
}
.title-block{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.title-block h1,
.title-block h2 {
  line-height: 1.2;
}

.title-block h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Antonio', sans-serif;
  color: #ff2e2c;
  -webkit-text-stroke: 0.5px #f3f6fd;
}

.title-block h2 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: 'ChromiumOneStd', sans-serif;
  color:#f3f6fd;
  text-decoration: underline;
  margin-top: 0.5rem;
}

.nav-bar{
  margin-left: 4rem;
  width: auto;
  max-width:600px;
  max-height: 4rem;
}

.nav-bar ul {
  display: flex;
  gap: 0rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar a img{
  width: 100px;
  height: auto;
  max-width:100%;
  display:inline-block
}


/*dropdown menu styles*/

.dropdown {
  position: relative;
  pointer-events: auto;
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  background: #feff99 !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  flex-direction: column;
  padding: 0.5rem;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: flex !important;
}
/*****************************
 *   02. hero-area
 ***************************** */
.background-image {
  width: 1920px;          
  height: auto;
  background-image: url('/assets/img/Teal Grey Blue Trendy Retro Digitalism Creative Presentation.png');
  background-size: cover; 
  background-position: center;
}